body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label{
	
	margin:0;
	padding:0;
}

body{

	color:#cccccc;
	font-size:0.825em;
	background-color: #1e2428;
	font-family:Arial, Helvetica, sans-serif;
}

.tabContainer{
	
	float:right;
	padding-right:13px;
}

#contentHolder{
	background-color:#EEEEEE;
	border:2px solid #FFFFFF;
	height:300px;
	margin:20px;
	
	color:#444444;
	padding:15px;
}

#tabContent{
	background-color:#333;
	border:1px solid #444;
	margin-top:-15px;
	width:100%;
}

#tabContent, .tabContainer li a,#contentHolder{
	-webkit-box-shadow:0 0 2px black;
	-moz-box-shadow:0 0 2px black;
	box-shadow:0 0 2px black;
}

.tabContainer li{
	
	display:inline;
}

.tabContainer li a,.tabContainer li a:visited{
	
	
	float:left;
	font-size:18px;
	
	display:block;
	
	padding:7px 16px 1px;
	margin:4px 5px;
	height:29px;
	
	
	position:relative;
	
	
	text-shadow:1px 1px 1px #CCCCCC;
}

#overLine{
	
	position:absolute;

	height:1px;
	background-color:white;
	width:90px;
	
	float:left;
	left:1px;
	top:-5px;
	overflow:hidden;
}

#main{
	margin:0 auto;
	position:relative;
	width:700px;
}
/* 导航 */
ul{
	margin:0;
	padding:0;
}

ul.container{
	
	width:240px;
	margin:0 auto;
	padding:50px;
}

li{
	list-style:none;
	text-align:left;
}

li.menu{
	
	padding:5px 0;
	width:100%;
}

li.button a{
	display:block;
	font-family:BPreplay,Arial,Helvetica,sans-serif;
	font-size:21px;
	height:34px;
	overflow:hidden;
	padding:10px 20px 0;
	position:relative;
	width:200px;
}

li.button a:hover{
	text-decoration:none;
}

li.button a span{
	height:44px;
	position:absolute;
	right:0;
	top:0;
	width:4px;
	display:block;
}


li.button a.blue{background:url(../img/blue.png) repeat-x top left; color:#074384;}
li.button a.blue span{ background:url(../img/blue.png) repeat-x top right;}

li.button a.green{background:url(../img/green.png) repeat-x top left; color:#436800;}
li.button a.green span{ background:url(../img/green.png) repeat-x top right;}

li.button a.orange{background:url(../img/orange.png) repeat-x top left; color:#882e02;}
li.button a.orange span{ background:url(../img/orange.png) repeat-x top right;}

li.button a.red{background:url(../img/red.png) repeat-x top left; color:#641603;}
li.button a.red span{ background:url(../img/red.png) repeat-x top right;}

li.button a:hover{ background-position:bottom left;}
li.button a:hover span{ background-position:bottom right;}

.dropdown{
	display:none;
	padding-top:5px;
	width:100%;
}

.dropdown li{
	background-color:#373128;
	border:1px solid #40392C;
	color:#CCCCCC;
	margin:5px 0;
	padding:4px 18px;
}
/* 导航结束 */
ul .left{
	
	
	height:37px;
	left:0;
	position:absolute;
	top:0;
	width:10px;
}

ul .right{
	
	height:37px;
	right:0;
	position:absolute;
	top:0;
	width:10px;
}



ul a.green{	background:url(../img/green_mid.png) repeat-x top center;	color:#24570f;}
ul a.green span.left{ background:url(../img/green_left.png) no-repeat left top;}
ul a.green span.right{ background:url(../img/green_right.png) no-repeat right top;}


ul a.blue{	background:url(../img/blue_mid.png) repeat-x top center;	color:#03426e;}
ul a.blue span.left{ background:url(../img/blue_left.png) no-repeat left top;}
ul a.blue span.right{ background:url(../img/blue_right.png) no-repeat right top;}


ul a.orange{	background:url(../img/orange_mid.png) repeat-x top center;	color:#724104;}
ul a.orange span.left{ background:url(../img/orange_left.png) no-repeat left top;}
ul a.orange span.right{ background:url(../img/orange_right.png) no-repeat right top;}


ul a.red{	background:url(../img/red_mid.png) repeat-x top center;	color:#6f0100;}
ul a.red span.left{ background:url(../img/red_left.png) no-repeat left top;}
ul a.red span.right{ background:url(../img/red_right.png) no-repeat right top;}



ul a:hover{	background-position:bottom center; text-decoration:none;}
ul a:hover span.left{ background-position:left bottom;}
ul a:hover span.right{ background-position:right bottom;}

.preloader{
	display:block;
	margin:120px auto;
}

.clear{

	clear:both;
	height:1px;
	overflow:hidden;
}



h1{
	background:#121b21;
	border-bottom:1px solid black;
	font-size:1.5em;
	font-weight:normal;
	margin-bottom:15px;
	padding:15px;
	text-align:center;
}

h2 {
	font-size:0.9em;
	font-weight:normal;
	padding-right:40px;
	position:relative;
	right:0;
	text-align:right;
	text-transform:uppercase;
	top:-48px;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

p.tutInfo{
	
	padding:10px 0;
	text-align:center;
	position:fixed;
	bottom:0px;
	background:#121b21;
	border-top:1px solid black;
	width:100%;
}

h1,h2,p.tutInfo{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}


